:root {
  --color-primary: rgba(33, 83, 141, 1); /* #21538D */
  --color-primary-light: rgba(48, 121, 205, 1); /* #3079CD */
  --color-primary-dark: rgba(18, 83, 78, 1); /* #122E4E */
  --color-primary-dark: rgba(18, 46, 78, 1); /* #122E4E */
  --color-primary-darker: rgba(15, 38, 65, 1); /* #0F2641 */
  --color-primary-darkest: rgba(12, 30, 51, 1); /* #0C1E33 */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: auto;
}


/******************************/
/********** Reusable **********/
/******************************/

/***** Buttons *****/

